body {
  background-color: black;
  color: rgb(225, 0, 225);
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

::selection {
  color: white;
  background: rgb(225, 0, 225);
}

h1 {
  color: white;
  margin: 3vh 10vw;
  user-select: none;
}

form {
  margin: 3vh 10vw;
  user-select: none;
}

label {
  display: block;
  margin-bottom: 10px;
}

.user_input{
  width: 100vw;
  display: flex;
  gap: 200px;
  margin-bottom: 2vw;
}

.sorting{
  width: 50vw;
  margin-bottom: 2vw;
}

.sorting-options{
  display: flex;
  gap: 50px;
}

.filtering{
  width: 50vw;
  margin-bottom: 2vw;
}

.filtering input:checked {
  background-color: rgb(225, 0, 225) !important;
}

.action-buttons{
  width: 50vw;
  margin-bottom: 2vw;
  display: flex;
  gap: 20px;
}

#search {
  padding: 10px 20px;
  background-color: rgb(225, 0, 225);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#search:hover {
  background-color: white;
  color: rgb(225, 0, 225);
}

#clear {
  padding: 10px 20px;
  background-color: black;
  color: rgb(225, 0, 225);
  border: 1px solid rgb(225, 0, 225);
  border-radius: 5px;
  cursor: pointer;
}

#clear:hover {
  background-color: white;
  color: rgb(225, 0, 225);
  border: none;
}

#loading{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: rgb(225, 0, 225);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  user-select: none;
}

#results{
  padding: 20px;
  border-radius: 5px;
}

#results table{
  border: 1px solid rgb(225, 0, 225);
}

#results th{
  background-color: rgb(225, 0, 225);
  color: white;
  text-align: center;
  user-select: none;
}

#results td{
  padding: 5px;
}

#results td a{
  color:rgb(225, 0, 225);
}

#results td a:hover{
  color:darkviolet;
}

.disclaimer{
  position: absolute;
  bottom: 0;
  text-align: center;
  margin: 3vh 15vw;
  font-size: 14px;
  line-height: 1.5;
  color:rgb(220, 140, 220);
}